<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie tracker - Watch list</title>
</head>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<link rel="shortcut icon" href="/images/logo.png">
<link rel="stylesheet" href="/style.css">

<header>
    <img class="logo" src="/images/logo.png" alt="logo"></img>
    <ul class="links">
        <li><a href="/home">Home</a></li>
        <li><a href="/watch_list">Watch list</a></li>
        <li><a href="/favorite_movies">Favorite movies</a></li>
        <li><a href="/add_movie">Add movie</a></li>
        <li><a href="/find">Update movie</a></li>
        <li><a href="/delete_movie">Delete movie</a></li>
    </ul>
</header>

<h1>Your watch list</h1>

<body>

<th:block th:each="movie:${watched_movies}">
    <div class="pricing-box-container"
         style="gap: 10px 20px;
                float: left;">
        <div class="pricing-box text-center">
            <h5>[[${movie.getName}]]</h5>
            <ul class="features-list">
                <li><strong>Genre: </strong>[[${movie.getGenre}]]</li>
                <li><strong>Duration: </strong>[[${movie.getDuration}]]</li>
                <li><strong>Rating: </strong>[[${movie.getRating}]]</li>
                <li><strong>Year of apparition: </strong>[[${movie.getYearOfApparition}]]</li>
            </ul>

            <a style=
                       "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
               class="btn btn-info" th:href="@{'/watch_list/favorite'+${movie.id}}">Favorite</a>

            <a style=
                       "padding: 5px 30px;
                                size: 10px;
                                background-color: rgba(0, 136, 169, 1);
                                border: none;
                                border-radius: 50px;
                                cursor: pointer;
                                transition: all 0.3s ease 0s;
                                margin-right: 10px;
                                align-text: center;"
               }
               class="btn btn-info" th:href="@{'/watch_list/unwatch'+ ${movie.id}}">Delete</a>
        </div>
    </div>
</th:block>

</body>
</html>